@charset "UTF-8";

body > #wrap > #divheader{
	

	/* background : #7fad39; */

	display : inline-block;
	position: relative;
	
}

body > #wrap > #divcontainer{
	display : inline;
	position: relative;
	margin-left: 250px; 
	
}

#manageMenu{
	position : relative;
	bottom : 200px;
}

#foot{
	position: absolute;
	bottom: 100px;
	
}

.addr{
	width: 200px;
}

#selectCategory{
	width: 200px;
}

.pagecontent{
	zoom: 2;
	margin-left: 100px;
	margin-top: 50px;
}
#up, #down{
	position: absolute;
	margin-top: 25px;
}

.categorybutton{
	background-color: #008080;
	color: white;
}

