@charset "UTF-8";

.leftBookManager{
	display: inline-block;
	position : absolute;
	zoom : 200%;
	margin-left: -60px;;
}

.centerBookManager{
	display: inline-block;
	position : absolute;
	zoom : 200%;
	left: 470px;
	
}

.rightBookManager{
	display: inline-block;
	position : absolute;
	left: 1600px;
 	overflow-y:auto;
 	height : 750px;
	
}

.tripleBookManager{
	height: 800px;
}

.pagecontentmenu1{
	zoom: 1.7;
	margin-left: 300px;
	margin-top: 50px;
	
}

.pagecontentmenu2{
	margin-left: 200px;
	margin-top: 50px;
	zoom : 0.7;
}

.pagecontentmenu5{
	zoom : 0.6;
}

.leftBookManager5{
	display: inline-block;
	position : absolute;
	zoom : 200%;
	left: 40px;
}

.centerBookManager5{
	display: inline-block;
	position : absolute;
	zoom : 200%;
	left: 400px;
	
}

.rightBookManager5{
	display: inline-block;
	position : absolute;
	left: 1410px;
 	overflow-y:auto;
 	height : 750px;
 	zoom : 1.2;
	
}

body > #wrap > #divheader{
	

	/* background : #7fad39; */

	display : inline-block;
	position: relative;
	
}

body > #wrap > #divcontainer{
	display : inline;
	position: relative;
	margin-left: 250px; 
	
}

#manageMenu{
	position : relative;
	bottom : 200px;
}


#foot{
	position: absolute;
	bottom: 100px;
	
}

.addr{
	width: 200px;
}

#selectCategory{
	width: 200px;
	font-size: 40%;
	font-family: ‘Nanum Gothic’, sans-serif;
	margin-left: 40px; 
}

#up, #down{
	position: absolute;
	margin-top: 25px;
	margin-left: 30px; 
}

#categoryName{
	margin-left: 15px; 
}

.button{
	background-color: #008080;
	color: white;
}

input[type="button"]{cursor:pointer}

.bookButton{
	zoom: 2.2;	
	margin-left: 200px;
}

.eventButton{
	margin-left: 230px;
	margin-top: 50px;
	zoom: 2.8;
	letter-spacing: 30px;
}

.upload{
	margin-left: 15px;
}

td,th{
	width: 200px;
	border: 2px solid #7fad39;
	text-align: center;
}

.bookinput{
	margin-left: 33px;
}

.bookListTr:hover{
	background-color: #7fad39;
	cursor: pointer;
}

.eventListTr:hover{
	background-color: #7fad39;
	cursor: pointer;
}

.searchBookInput{
	zoom : 1.8;
}

#searchBookKeyword{
	width : 200px;
	height : 20px;
	margin-right: 10px;
}

#imgPlace{
	border: 1px solid black;
	height: 331px;
}

#eventName{
	margin-left: 15px;
}

#eventDiscount{
	margin-left: 44px;
}

.selWC{width: 170px;}

.eventDates{
	margin-left: 30px;
}

#eventListTable{
	width: 850px;
}

#cancelPreview{
	margin-left: 243px;
}
