<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">

<select id="selectBook" resultType="com.kosmo.soribook.domain.BookVO">

	SELECT b.*, w.writername as writername, p.paymentdate as paymentdate
	FROM book b 
	INNER JOIN writer w ON b.writerno = w.writerno
	INNER JOIN bookpayment bp ON b.bookno = bp.bookno
	INNER JOIN payment p ON bp.paymentno = p.paymentno
	ORDER BY b.bookno ASC

</select>
	
	<select id="getBookDetail"  resultType="com.kosmo.soribook.domain.BookVO">
		SELECT *
		FROM book
		WHERE bookno=#{bookNo}
	</select>
	
	<select id="getBookDetail2" resultType="com.kosmo.soribook.domain.BookVO">
	SELECT b.BOOKNO,b.BOOKPRICE ,b.BOOKTITLE ,to_char(b.BOOKPDATE,'yyyy-mm-dd') AS BOOKPDATE ,b.BOOKSYNO,b.BOOKIMG ,b.BOOKCONTENT ,b.BOOKAUDIO ,b.BOOKSUB ,b.CATEGORYNO ,c.CATEGORYNAME,c2.COMPANYNAME , w.WRITERNAME , w.WRITERDETAIL 
	FROM book b
		INNER JOIN CATEGORY c ON b.CATEGORYNO=c.CATEGORYNO
		INNER JOIN COMPANY c2 ON b.COMPANYNO=c2.COMPANYNO
		INNER JOIN WRITER w ON b.WRITERNO=w.WRITERNO
	WHERE b.bookno=#{bookNo}
	</select>
	
	<select id="getbookCnt" resultType="com.kosmo.soribook.domain.BookVO">
	SELECT b.*, NVL(c.bookcnt,0) AS bookcnt
	FROM book b
		LEFT OUTER JOIN (SELECT bookno,COUNT(bookno) bookcnt from bookpayment GROUP BY bookno) c ON b.BOOKNO =c.bookno
	<if test='"bookNo" != null'>
	where b.bookno=#{bookNo}
	 </if>
	ORDER BY bookcnt DESC NULLS LAST

	</select>
	
	<select id="getbookCnt2" resultType="com.kosmo.soribook.domain.BookVO">
	SELECT b.*, NVL(c.bookcnt,0) AS bookcnt
	FROM book b
		LEFT OUTER JOIN (SELECT bookno,COUNT(bookno) bookcnt from bookpayment GROUP BY bookno) c ON b.BOOKNO =c.bookno
	
	</select>

<select id="selectSub" resultType="com.kosmo.soribook.domain.BookVO">
SELECT *
FROM book
WHERE booksub=1
</select>



</mapper>