<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyMapper">

<select id="getReplyListByBookNo" resultType="com.kosmo.soribook.domain.ReplyVO">

SELECT r.replyno, r.replycontent, to_char(r.replydate,'yyyy-mm-dd') replydate, r.bookno, u.usertel, u.userid
FROM reply r INNER JOIN USERINFO u ON r.USERTEL = u.USERTEL 
WHERE bookno=#{bookNo}
ORDER BY TO_NUMBER(replyno) desc

</select>

<insert id="insertReply" parameterType="com.kosmo.soribook.domain.ReplyVO">

INSERT INTO REPLY 
values(seq_reply_replyno.nextval,#{replyContent},sysdate,#{bookNo},#{userTel})

</insert>

</mapper>