<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ServiceMapper">

 <select id="selectNotice" resultType="com.kosmo.soribook.domain.NoticeVO">

	SELECT *
	FROM notice
</select>

<select id="selectNoticeDetail" resultType="com.kosmo.soribook.domain.NoticeVO">

	SELECT *
	FROM notice
	WHERE noticeNo=#{noticeNo}
</select>

<update id="updateQnA" parameterType="com.kosmo.soribook.domain.QnAVO">

UPDATE qna
SET 
qnaTitle=#{qnaTitle},
qnaContent=#{qnaContent},
qnaImg1=#{qnaImg1},
qnaImg2=#{qnaImg2},
qnaImg3=#{qnaImg3},
userPass=#{userPass}
WHERE qnaNo=#{qnaNo}

</update>

<insert id="insertQnA" parameterType="com.kosmo.soribook.domain.QnAVO">
INSERT INTO qna (qnaNo,qnaTitle, qnaContent,userTel,qnaImg1,qnaImg2,qnaImg3,qnaDate)
values(seq_qna_qnaNo.nextval,#{qnaTitle},#{qnaContent},#{userTel},#{qnaImg1},#{qnaImg2},#{qnaImg3},sysdate)
</insert>

<select id="selectQnA" resultType="com.kosmo.soribook.domain.QnAVO">
SELECT *
FROM qna
WHERE qnaAnswer is not null
</select>

</mapper>