<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInfoMapper">

<select id="selectUserInfo" resultType="com.kosmo.soribook.domain.UserInfoVO">

	SELECT userid,username,useremail,userpass,usertel,TO_CHAR(tfend, 'YYYY-MM-DD') AS tfend
	FROM userinfo
    WHERE usertel='010-1111-1111' 
</select>

<update id="updateUserInfo" parameterType="com.kosmo.soribook.domain.UserInfoVO">

UPDATE userinfo
SET 
userpass=#{userpass},
useremail=#{useremail}
WHERE usertel=#{usertel}

</update>

<update id="usertf" parameterType="com.kosmo.soribook.domain.UserInfoVO">

UPDATE userinfo
SET usertf = 1,
    tfstart = sysdate,
    tfend = TO_DATE(TO_CHAR(ADD_MONTHS(sysdate, 12), 'YYYY-MM-DD'), 'YYYY-MM-DD')

</update>




 <insert id="insertUserInfo" parameterType="com.kosmo.soribook.domain.UserInfoVO">
INSERT INTO userinfo(
usertf,tfstart,tfend
)
  VALUES (
    #{usertf},
    sysdate,
    sysdate
  )
	
</insert> 
</mapper>